<div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-3 border">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h4>Información</h4>
                            </div>
                            <div class="col-12 mt-3 text-center border-bottom">
                                <h4>Tanque</h4>
                                <img src="../img/deposito-de-agua.png" alt="" width="50px">
                                <p>97%</p>
                            </div>
                            <div class="col-12 mt-3 text-center border-bottom">
                                <h4>Válvula</h4>
                                <img src="../img/gas.png" alt="" width="50px">
                                <p class="text-success">Encendida</p>
                            </div>
                            <div class="col-12 mt-3 text-center border-bottom">
                                <h4>Energía</h4>
                                <img src="../img/energia.png" alt="" width="50px">
                                <p class="text-success">Encendida</p>
                            </div>
                            <div class="col-12 mt-3 text-center border-bottom">
                                <h4>Pánel solar</h4>
                                <img src="../img/poder.png" alt="" width="50px">
                                <p class="text-success">Encendida</p>
                            </div>
                            <div class="col-12 mt-3 text-center mb-2">
                                <div class="row">
                                    <div class="col-6"><input type="submit" class="btn btn-danger btn-block" value="Off"></div>
                                    <div class="col-6"><input type="submit" class="btn btn-danger btn-block" value="Stop"></div>
                                    <div class="col-12"><input type="submit" class="btn btn-info btn-block mt-3" value="Corriente">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 border">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h4>Estado de las líneas de riego</h4>
                                <hr>
                            </div>
                            <div class="col-3 mt-3 text-center border-right">
                                <h4>Línea 1</h4>
                                <hr>
                                <h6>Estado</h6>
                                <img src="../img/boton-de-inicio.png" alt="" width="25px">
                                <p class="text-success">Encendida</p>
                                <hr>
                                <h4>Temperatura</h4>
                                <img src="../img/caliente.png" alt="" width="40px">
                                <p>24°</p>
                                <hr>
                                <h4>Humedad</h4>
                                <img src="../img/humedad.png" alt="" width="40px">
                                <p>16%</p>
                                <hr>
                                <div class="row">
                                    <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                            value="Activar/desactivar"></div>
                                    <div class="col-12 p-3"><a href="/users/mediciones"
                                            class="btn btn-primary btn-block">Ver
                                            estadísticas</a></div>
                                </div>
                            </div>
                            <div class="col-3 mt-3 text-center border-right">
                                <h4>Línea 2</h4>
                                <hr>
                                <h6>Estado</h6>
                                <img src="../img/boton-de-inicio.png" alt="" width="25px">
                                <p class="text-success">Encendida</p>
                                <hr>
                                <h4>Temperatura</h4>
                                <img src="../img/caliente.png" alt="" width="40px">
                                <p>26°</p>
                                <hr>
                                <h4>Humedad</h4>
                                <img src="../img/humedad.png" alt="" width="40px">
                                <p>13%</p>
                                <hr>
                                <div class="row">
                                    <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                            value="Activar/desactivar"></div>
                                    <div class="col-12 p-3"><a href="/users/mediciones"
                                            class="btn btn-primary btn-block">Ver
                                            estadísticas</a></div>
                                </div>
                            </div>
                            <div class="col-3 mt-3 text-center border-right">
                                <h4>Línea 3</h4>
                                <hr>
                                <h6>Estado</h6>
                                <img src="../img/boton-de-inicio.png" alt="" width="25px">
                                <p class="text-danger">Apagada</p>
                                <hr>
                                <h4>Temperatura</h4>
                                <img src="../img/caliente.png" alt="" width="40px">
                                <p>32°</p>
                                <hr>
                                <h4>Humedad</h4>
                                <img src="../img/humedad.png" alt="" width="40px">
                                <p>9%</p>
                                <hr>
                                <div class="row">
                                    <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                            value="Activar/desactivar"></div>
                                    <div class="col-12 p-3"><a href="/users/mediciones"
                                            class="btn btn-primary btn-block">Ver
                                            estadísticas</a></div>
                                </div>
                            </div>
                            <div class="col-3 mt-3 text-center border-right">
                                <h4>Línea 4</h4>
                                <hr>
                                <h6>Estado</h6>
                                <img src="../img/boton-de-inicio.png" alt="" width="25px">
                                <p class="text-warning">Peligro</p>
                                <hr>
                                <h4>Temperatura</h4>
                                <img src="../img/caliente.png" alt="" width="40px">
                                <p>39°</p>
                                <hr>
                                <h4>Humedad</h4>
                                <img src="../img/humedad.png" alt="" width="40px">
                                <p>1%</p>
                                <hr>
                                <div class="row">
                                    <div class="col-12 p-3"><input type="submit" class="btn btn-danger btn-block"
                                            value="Activar/desactivar"></div>
                                    <div class="col-12 p-3"><a href="users/mediciones"
                                            class="btn btn-primary btn-block">Ver
                                            estadísticas</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>