<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h3>Iniciar sesión</h3>
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="CC" placeholder="CC">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="contrasena" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>