<div class="contianer text-center">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido al Vivero CTGI del SENA!</h1>
            <p class="lead">Activar el sistema de riego automatizado, ver estadísitcas en tiempo real, descargar
                reportes...</p>
            <hr class="my-4">
            <p>Puedes hacer todas estas funciones registrándote ;)</p>
            <a class="btn btn-info btn-color-style btn-lg" href="/users/signup" role="button">Registrarse</a><br>
            o<br>
            <a href="/users/signin" class="text-dark">Iniciar sesión</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <div class="row justify-content-center">
                            <div class="col-10 text-center box-radio-style">
                                <h5>Sistema automatizado</h5>
                                <h5><img src="/img/infraestructura.png" alt="" width="70px"></h5>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque est perferendis quia
                                    qui vitae explicabo!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row justify-content-center">
                            <div class="col-10 text-center box-radio-style">
                                <h5>Fuente de energía</h5>
                                <h5><img src="/img/poder.png" alt="" width="70px"></h5>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque est perferendis quia
                                    qui vitae explicabo!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row justify-content-center">
                            <div class="col-10 text-center box-radio-style">
                                <h5>Estadísticas</h5>
                                <h5><img src="/img//grafico-de-barras.png" alt="" width="70px"></h5>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque est perferendis quia
                                    qui vitae explicabo!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row justify-content-center">
                            <div class="col-10 text-center box-radio-style">
                                <h5>Digital</h5>
                                <h5><img src="/img/sensible.png" alt="" width="70px"></h5>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque est perferendis quia
                                    qui vitae explicabo!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>