<div class="card text-center mt-5 bg-dark text-white">
        <div class="card-header">Vivero</div>
        <div class="card-body">
            <h5 class="card-title">Servicio Nacional de Aprendizaje SENA.</h5>
            <p class="card-text">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-1"><a target="_black"
                                    href="http://oferta.senasofiaplus.edu.co/sofia-oferta/"><img
                                        src="public/img/logosena.png" alt="" width="70px"></a></div>
                        </div>
                    </div>
                </div>
                </p>
            </div>
            <div class="card-footer text-muted">
                2020
            </div>
        </div>